%font-family {
  font-family: 'Rajdhani', sans-serif;
}

%list-reset {
  list-style: none;
  padding-left: 0;
}

%visuallyhidden {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
