.p-header {
  color: $secondary-color;
  margin-top: pxToRem(25);
  text-align: center;
}

.p-heading {
  border-bottom: pxToRem(2) solid $secondary-color;
  border-top: pxToRem(2) solid $secondary-color;
  margin: 0;
  padding: pxToRem(8) 0;
}

.p-contacts,
.p-summary__list,
.c-exp__list {
  @extend %list-reset;
}

.p-title {
  color: $secondary-color;
}

.p-contacts__item {
  display: inline-block;
  margin-left: pxToRem(7);
  position: relative;
  padding-left: pxToRem(15);

  &::before {
    background-color: currentColor;
    content: '';
    height: pxToRem(5);
    left: pxToRem(0);
    position: absolute;
    top: pxToRem(8);
    width: pxToRem(5);
  }

  a {
    color: $highlight-color;
  }
}


.p-summary {
  text-align: center;
}

.p-summary__item {
  margin-bottom: pxToRem(8);
}

.p-photo {
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  display: inline-block;
  height: pxToRem(100);
  width: pxToRem(100);
}

.p-playground {
  box-shadow: 0 0 pxToRem(10) pxToRem(-4) $highlight-color inset;
  margin: pxToRem(5) 0;
  padding: pxToRem(20);
  text-align: left;
}

.p-playground__heading {
  text-align: center;
}

.o-layout {
  display: flex;
}

.o-layout--two-columns {
  .o-layout__item {
    flex-basis: 50%;
  }
}

.c-quiz__list {
  @extend %list-reset;
}

.c-quiz__item-inner {
  align-items: center;
  display: flex;;
  justify-content: flex-start;
}

.c-quiz__item-col {
  padding-right: pxToRem(10);
  &.title {
    flex-basis: 20%;
    flex-shrink: 0;
  }
  &.desc {
    flex-basis: 100%;
  }
  &.best {
    flex-basis: 20%;
    flex-shrink: 0;
    text-align: center;
  }
  &.cta {
    flex-basis: 10%;
    flex-shrink: 0;
    padding-right: 0;
  }
}

.c-quiz__description {
  font-style: italic;
}

.c-quiz__button {
  text-align: right;
}

.c-quiz__submit {
  border: pxToRem(2) solid $black;
  box-shadow: none;
  padding: pxToRem(5) pxToRem(10);
  text-transform: uppercase;

  &:hover {
    border-color: rgba($black, .4);
  }
}

.u-correct {
  color: $pigment-green;
}

.u-wrong {
  color: $crayon-red;
}

.c-ques__list {
  padding-left: pxToRem(14);
}

.c-ques__item {
  margin-bottom: pxToRem(12);
}

.c-ques__description {
  margin: pxToRem(8) 0;
}

.c-opt__input {
  @extend %visuallyhidden;
}

.c-opt__label {
  position: relative;

  &:hover {
    cursor: pointer;
  }

  .c-opt__input + &::before {
    background-color: $white;
    border: pxToRem(1) solid rgba($black, .4);
    content: '';
    height: pxToRem(10);
    left: pxToRem(-32);
    position: absolute;
    top: pxToRem(4);
    width: pxToRem(10);
  }

  .c-opt__input:checked + &::before {
    background-color: rgba($black, .1);
    content: '\2714';
    font-size: pxToRem(10);
  }
}

.c-section {
  margin: pxToRem(50) 0;
}

.c-section__heading {
  border-top: pxToRem(1) solid rgba($secondary-color, 0.3);
  color: $secondary-color;
  margin: pxToRem(-50%);
  text-align: center;

  span {
    background-color: $white;
    display: inline-block;
    margin-top: pxToRem(-18);
    padding: 0 pxToRem(10);
  }
}

.c-opt__list {
  display: flex;
  flex-wrap: wrap;
  list-style: lower-alpha;
}

.c-opt__item {
  flex-basis: 50%;
}

.c-exp__item {
  margin-bottom: pxToRem(14);
}

.c-exp__inner {
  display: flex;
}

.c-exp__time {
  flex-basis: 20%;
  flex-shrink: 0;
  padding-right: 5%;
  text-align: right;
}

.c-exp__title {
  font-size: pxToRem(18);
  margin: 0 0 pxToRem(8);
}

.c-exp__institution {
  font-style: italic;
}

.c-exp__skills {
  margin: pxToRem(8) 0;
}

.c-exp__skill {
  margin-bottom: pxToRem(4);
}

.c-exp__link {
  color: $highlight-color;
}

.c-btn {
  cursor: pointer;
}

.u-correct {
  color: $pigment-green;
}

.u-wrong {
  color: $crayon-red;
}

.u-uppercase {
  text-transform: uppercase;
}
